html{
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:1fr 4fr 1fr;
    grid-template-rows:1fr 5fr 1fr;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    /* background: url("image/background1.jpg") no-repeat 0 0; */
    /* background-size: 100% 100%; */
    /* -moz-background-size: 100% 100%; */
    font-size: 25px;
    /* backdrop-filter: brightness(120%); */
    scroll-behavior: smooth;
}
h1{
    user-select: none;
    margin-top:100px;
}
label{
    user-select: none;
}
/* @font-face {
    font-family: 'MyCustomFont';  
    src: url('fonts/SHT.ttf'); 
    url('path/to/your/font.woff') format('woff');
} */
/* *{
    font-family: 'MyCustomFont', sans-serif;
} */
/* .bg{
    color: aliceblue;
} */
#head{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 1.5em; /* 增大标题字体大小 */
}

#content{

    /* background-color: rgba(75, 81, 95, 0.3); */
    border-radius: 20px;
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    width: 60%;  /* 调整宽度 */
    height: 85%;  /* 调整高度 */
    margin: auto;  /* 居中 */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /*backdrop-filter: blur(10px);*/
    backdrop-filter: blur(20px);

}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div.row{
        margin-top: 1%;
        width:70%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 10%;
        label {
            font-size: 26px;
            display: flex;
            align-items: center;
            justify-items: center;
            align-content: center;
            justify-content: center;
            height: 100%;
            width: 30%;
        }
        input {
            border-radius: 10px;
            width: 70%;  /* 调整宽度 */
            height: 100%;
            font-size: 20px;
            /* background: rgba(255,255,255,0.1); */
            backdrop-filter: blur(15px);
            /* color: white; */
            padding-left: 20px;
            /* &:hover{
                background: rgba(255,255,255,0.3);
                transform: scale(1.02);
            } */
            /* transition: all 0.1s; */
            /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-right: 2px solid rgba(0, 0, 0, 0.3);
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);
            &::placeholder{
                color: rgba(253, 252, 252, 0.4);
            } */
        }
        select {
            /* option{
                color: gray;
            } */
            /* color: white; */
            height: 100%;
            border-radius: 10px;
            width: 75%;
            font-size: 20px;
            /* background: rgba(255,255,255,0.1); */
            backdrop-filter: blur(15px);
            padding-left: 20px;
            /* &:hover{
                background: rgba(255,255,255,0.3);
                transform: scale(1.02);
            } */
            /* transition: all 0.1s; */
        }
    }

    input[type='submit']{
        height: 100%;
        width: 20%;
        margin-top:2%;
        margin-bottom: 5%;
        /* transition: all 0.1s; */
        font-size: 25px;
        border-radius: 10px;
        /* background: rgba(255,255,255,0.1); */
        backdrop-filter: blur(15px);
        /* &:hover{
            background: rgba(255,255,255,0.3);
            transform: scale(1.1);
            cursor: pointer;
        } */
        /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-right: 2px solid rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
        font-weight: 600;
    };

}


.login-tools__forget {
    color: #a1a3bc;
    cursor: pointer;
    margin: -1em 0;
    text-align: right;
}

.login-tools__save__checkbox, .login-tools__save__label {
    display: inline-block;
    vertical-align: middle;
}

.login-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.75em;
    line-height: 1;
    width: 60%;
}

a {
    text-decoration: none;
}
/* #button{

    text-align: center;
    line-height: 60px;
    width: 50%;
    color:rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    
}
#button:hover {
    color: #fff;
    transform: scale(1.1);

} */