@font-face {
    font-family: 'myFont';
    src: url('fonts/SHT.ttf');
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:#dddfe8;
}
h1{
    /*text-align: center;*/
    /*margin-top: 10%;*/
    color: #0a131a;
    font-size: 50px;
    font-family: "myFont";
    margin: 45px 0 0 55px;
}
h2{
    font-family:"楷体";
    font-size: 30px;
    color: #0a131a;
    text-align: center;
    margin-top: 10px;
}
#main{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

#show{
    width:100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 5px solid #c0c0c0;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    box-shadow: #4f555b 10px 10px 10px;
}
#content{
    width:100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.show{
    /*border: 1px solid black;*/
}
.typing {
    text-align: center;
    width: 13em;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 2.5s steps(13, end), blink-caret 0.75s step-end infinite;
    overflow: hidden;
}
/* 打印效果 */
@keyframes typing {
    from { width: 0; }
    to { width: 13em;}
}

.tran   h2 {
    text-align: right;
    background: -webkit-linear-gradient(135deg,
    #a0c5c3,
    #5b4556 25%,
    #008b9d 50%,
    #eae9bd 55%,
    #4b8ba8 60%,
    #92879a 80%,
    #939292 95%,
    #d5f6e6);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    -webkit-background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    -webkit-background-size: 200% 100%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    -webkit-animation: flowCss 10s infinite linear;
}

@-webkit-keyframes flowCss {
    0% {
        /* 移动背景位置 */
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

.trans h1:hover {
    -webkit-animation: flowCss 2.5s infinite linear;
}
/* 光标闪啊闪 */
/*@keyframes blink-caret {*/
/*    from, to { box-shadow: 1px 0 0 0 transparent; }*/
/*    50% { box-shadow: 1px 0 0 0; }*/
/*}*/
.pacMan {
    display: inline-block;
    position: relative;
    margin: 50px;
}

/* 使用伪元素创建吃豆人的眼睛 */
.pacMan::before {
    content: '';
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: #1f1f1f;
    position: absolute;
    top: 6px;
    left: 21px;
    z-index: 2000;
}

/* mouth1搭配mouth2组成吃豆人张嘴闭嘴的动画 */
.mouth1 {
    width: 0;
    height: 0;
    border: 25px solid #1194bf;
    border-radius: 50%;
    border-right-color: transparent;
    animation: upup .32s 0s infinite;
    position: relative;
    z-index: 3;
}

@keyframes upup {
    0% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(1turn);
    }

    100% {
        transform: rotate(270deg);
    }
}

.mouth2 {
    width: 0;
    height: 0;
    border: 25px solid #1194bf;
    border-right-color: transparent;
    border-radius: 25px;
    margin-top: -50px;
    animation: downdown .32s 0s infinite;
    position: relative;
    z-index: 3;
}

@keyframes downdown {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

/* 豆子不断移动 */
.beanOne {
    background-color:	#BDB76B;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: translateY(-6px);
    top: 25px;
    left: 100px;
    animation: beanAnimation 1s linear .52s infinite;
}

.beanTwo {
    background-color:	#BDB76B;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: translateY(-6px);
    top: 25px;
    left: 100px;
    animation: beanAnimation 1s linear 1.1s infinite;
}


@keyframes beanAnimation {
    75% {
        opacity: .72;
    }

    100% {
        transform: translate(-100px, -6px);
    }
}