div.background_color {
    background: radial-gradient(
            circle at 50% 0,
            rgba(81, 223, 120, 0.76),
            rgba(255, 0, 0, 0) 70.71%
    ),
    radial-gradient(
            circle at 6.7% 75%,
            rgb(138, 159, 237),
            rgba(107, 130, 239, 0.81) 50.71%
    ),
    radial-gradient(
            circle at 93.3% 75%,
            rgb(230, 127, 205),
            rgba(0, 255, 0, 0) 70.71%
    ) #94ff7c;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content {
    border-radius: 30px;
    padding: 20px;
    height: 50vh;
    width: 40vw;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    position: absolute;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;

    h1 {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 1px;
        color: white;
        text-align: center;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        a {
            margin-top: 3%;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            color: rgba(255, 255, 255, 0.7);
            text-align: end;
            height: 30px;
            width: 60%;
            margin-left: 20%;
            text-decoration-line: underline;
            user-select: none;
            transition: all 0.5s;

            &:hover {
                color: rgba(255, 255, 255, 0.9);
                cursor: pointer;
            }
        }

        div.row:nth-child(5) {
            margin-top: 0;
        }

        div.row {
            margin-top: 2.5%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            min-height: 15%;

            label.hint {
                font-size: 24px;
                width: 30%;
                height: 100%;
                letter-spacing: 1px;
                font-weight: 600;
                color: white;
                text-align: center;
                vertical-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            label.input {
                width: 50%;
                justify-content: center;
                display: flex;

                input[type='password'] {
                    font-size: 24px;
                    height: 100%;
                    border-radius: 50px;
                    background: rgba(255, 255, 255, 0.3);
                    border: none;
                    transition: all 0.5s;
                    width: 100%;
                    color: white;
                    padding-left: 5%;

                    &:focus {
                        border: none;
                        background: rgba(255, 255, 255, 0.5);
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);
                        transform: scale(1.05);
                    }
                }

                input[type='text'] {
                    font-size: 24px;
                    height: 100%;
                    border-radius: 50px;
                    background: rgba(255, 255, 255, 0.3);
                    border: none;
                    transition: all 0.5s;
                    width: 100%;
                    color: white;
                    padding-left: 5%;

                    &:focus {
                        border: none;
                        background: rgba(255, 255, 255, 0.5);
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);
                        transform: scale(1.05);
                    }
                }

                input[type='submit'] {

                    font-size: 20px;
                    height: 100%;
                    border-radius: 50px;
                    width: 50%;
                    background: rgba(255, 255, 255, 0.3);
                    font-weight: 600;
                    color: white;
                    border: none;
                    transition: all 0.5s;

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
            }

        }
    }
}