@font-face {
    font-family: 'myfont1';
    src: url('fonts/SHT.ttf');
}
@font-face {
    font-family: 'myfont2';
    src: url('fonts/SHT.ttf');
}
h1{
    font-family: 爱奇艺黑体;
    /*padding: 0 0 0 120px;*/
    /*text-align: center;*/
    margin-left:150px;
    font-size:75px;
    color: #2f2f33;
    /*text-shadow: #09011c 1px 1px 1px;*/
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2 ;
    user-select: none;
    /*z-index: -999;*/

}
#main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 0.5fr 5fr 0.5fr;
}
#title{
    background-color:#DEDFDD;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 1.5em;
    width:100%;
    /*border-bottom: #999999 1px solid;*/
    border-radius:0 0 0 25px;
    box-shadow: #4f555b 5px 5px 5px;
    /*border: 1px solid #051F51;*/
}
#back{
    background-color:#DEDFDD;
    /*margin: 10px 10px 10px 10px;*/
    width: 100%;
    height: 100%;
    /*border:1px solid #DEDFDD;*/
    border-radius: 0 0 25px 0;
    box-shadow: #4f555b 5px 5px 5px;
}
button{
    width: 120px;
    height: 50px;
    font-size: 25px;
    background-color: rgba(255,255,255,0.5);
    margin-top: 100px;
    margin-right: 50px;
    border:2px inset #b1b2b1;
    border-radius: 10px;
}
button:hover{
    background-color: #193164;
    color: #DEDFDD;
    transition: 0.8s;
}
#content{
    grid-column-start: 2;
    grid-column-end: 3;
    /*border: 1px solid #051F51;*/
    display:grid;
    grid-template-rows:1fr 8fr 1fr;
    grid-template-columns:1fr 3.5fr 1fr;
}
#submit_b{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color:#31365E;
    backdrop-filter: blur(20px);
    border: 5px dot-dot-dash #c2bfbf;
    color: #e2e2e2;
    /*border-style: dot-dot-dash;*/
    /*border: 1px solid #051F51;*/
    box-shadow: #4f555b 15px 15px 15px;
}
#S_W{
    margin: 50px 10px 10px 100px;
    width:100%;
    height: 100%;
    font-size: 30px;


}
input{
    width: 350px;
    height: 50px;
    font-size: 30px;
    font-family: "楷体";
    border-radius: 25px;
    text-indent: 40px;
    margin: 10px 10px 40px 10px;
    /*//背景颜色透明*/
    /*background-color: rgba(255,255,255,0.5);*/
    backdrop-filter: blur(10px);
    /*background-color: rgba(255,255,255,0.5);*/
    border:none;
    /*pointer-events: none;*/
    /*border-color: #000C40;*/
}

/*//鼠标悬在input上，input突出*/
input:hover{
    box-shadow: 10px 10px 10px #000000;
    transition: 0.8s;
    border-color: #000C40;
}
label{
    font-size: 30px;
    font-family: "楷体";
    margin: 10px 10px 10px 10px;
}
#select_{
    width: 190px;
    height: 35px;
    font-family: "宋体";
    font-size: 24px;
    text-align: center;
    margin: 25px 50px 0 210px;
    border-radius: 10px;
    transition: 0.8s;
    background-color: #e2e2e2;
    color: #000000;
}
#select_ p{
    font-size: 29px;
    /*font-family: "宋体";*/
    /*text-align: center;*/
    margin: 20px 10px 10px 10px;
}
#select_:hover{
    box-shadow: black 5px 5px 5px;
    background-color: #657e8f;
    transition: 0.8s;
    /*box-shadow:none;*/
    /*border-color: #000C40;*/
}
#submit{
    width: 300px;
    margin: 50px 10px 10px 180px;
    text-indent: 0;
}
#submit:hover{
    background-color: #518d51;
    /*color: #f8f8f8;*/
    /*box-shadow: 10px 10px 10px #000000;*/
    transition: 0.8s;
    /*border-color: #000C40;*/
    /*box-shadow: #999999 5px 5px 5px;*/
    /*animation: sub_trans 0.8s;*/
}
@keyframes sub_trans {
    0%{
       /*height:1px;*/
        border-radius: 0;
        background-color: #e3e4ec;
        /*color: #f8f8f8;*/
    }
    25%{
        background-color: #c9e4ec;
    }
    50%{
        /*width: 50%;*/
        /*height: 50%;*/
        /*border-radius: 0;*/
        background-color: #b3c8e5;
        /*color: #e2e2e2;*/
    }
    100%{
        /*width: 100%;*/
        /*height: 100%;*/
        /*border-radius: 25px;*/
        background-color: #9fa2da;
        /*color: #e2e2e2;*/
    }
}
