/*@font-face {*/
/*    font-family:font_style01;*/
/*    src: url("/font_style01.otf") format('otf');*/
/*    !*format('otf');*!*/
/*}*/

body {
    background-image: linear-gradient(182deg, #4f555b, #684b50, #7e4c4f, #a1757a);
    /*background-color: #b2bbbe;*/
    /*background: #F0F2F0;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #000C40, #F0F2F0);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #000C40, #F0F2F0); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    color: #e2e2e2;
    /*background: #FFA17F;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #00223E, #FFA17F);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #00223E, #FFA17F); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    /*background: #D3959B;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #BFE6BA, #D3959B);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #BFE6BA, #D3959B); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/


    /*background: #ee9ca7;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #ffdde1, #ee9ca7); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    user-select: none;
}
#background{
    position: absolute;
    /*z-index: -1;*/
}

#canvas{
    position: absolute;
    z-index: -1;
}
.text {
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    display: inline-block;
    /*position: relative;*/
    /*background-color: antiquewhite;*/
    border: black 1px solid;
    margin: 0 0 0 0;
}

#title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 2em;
    border: none;
}

h1 {
    position: relative;
    text-align: center;
    text-shadow: #333333 5px 5px 10px;
}

#left {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: none;
}


#search_box {
    width: 350px;
    margin: 3px auto;
    font-family: 'font_style04';
    font-size: 14px;

}

input {
    width: 250px;
    border: 1px solid #e2e2e2;
    height: 39px;
    margin: 5px 5px 5px 5px;
    /*float: left;*/
    background-image: url("image/background1.jpg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px center;
    box-shadow: #999999 2px 2px 10px;
}

#search_ {
    display: inline-block;
    width: 70px;
    height: 36px;
    float: right;
    margin: 5px 5px 5px 5px;
    background: #332e2e;
    color: white;
    font-size: 19px;
    text-align: center;
    /*line-height: 32px;*/
    cursor: pointer;
    box-shadow: #999999 1px 1px 1px;
    user-select: none;
}
.in_put {filter:Alpha(opacity=30); opacity: .3;}

#std_text {
    height: 650px;
    width: 350px;
    overflow-y: scroll;
}
#std_text ::-webkit-scrollbar{
    display: none;
}
#std_text{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


p {
    width: 240px;
    display: inline-block;
    font-size: 2em;
    text-align: center;
}

.image-container img {
    /*position:absolute ;*/
    /*top:0;*/
    /*left:0;*/
    /*display: inline-block;*/
}


#content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#box{
    white-space: nowrap;
    overflow: hidden;
    border: none;
}

#std_info1 {
    display: inline-block;
    width:4430px;
    height: 800px;
    padding: 10px;
    border:none;
}
#std_info2{
    display: inline-block;
    width:4430px;
    height: 800px;
    top: 0;
    left: 0;
    padding: 10px;
    border:none;
}
.std {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    user-select: none;
    transition: 0.5s;
}

.std:hover {
    font-family: 'font_style05' !important;
    background-color: #bfefef !important;
    box-shadow: #000C40 5px 5px 10px !important;
    color: black !important;
    transition: 0.5s;
    text-shadow: black 5px 5px 10px !important;
}
h2 {
    font-size: 3.5em;
    letter-spacing: 15px;
    font-weight: 4500;
    text-align: center;
    vert-align: middle;
    font-family: "font_style13", sans-serif;
    color: #311616;
}
h2:hover {
    color: #020000;
    transition: 0.5s;
}
.student {

    height: 85px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*居中div内元素*/
    align-items: center;
    /*居中div*/
    justify-content: center;
}

.student div {
    border: none;
    display: block;
}

.student img {
    border: none;
    width: 50px;
    height: 50px;
}

.std_left {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}